@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html, body {
	margin: 0;
	padding: 0;
	text-align: center;
	background: url(./img/bg.jpg) fixed no-repeat;
	font-family: 'Roboto', sans-serif;
}
.title {
	background-color: rgba(0, 0, 0, 0.75);
	margin: 2rem 0;
}
.title p {
	font-size: 3rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	margin: 0 .5rem;
}
.search-input {
	height: 1.5rem;
	width: 18rem;
	margin: .5rem;
	padding: .5rem 1rem;
	font-size: 1rem;
	background-color: #eee;
	border: none;
	border-radius: 5px;
	vertical-align: middle;
}
.search-input:focus {
	outline: none;
}
.search-btn {
	cursor: pointer;
	height: 2.5rem;
	width: 20rem;
	background-color: #fff;
	font-size: 1rem;
	font-weight: 600;
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.8px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 2px -2px black;
}
.search-btn:hover {
	text-decoration: none;
	box-shadow: 0 4px 10px 0px black;
	color: #111;
	border: solid 1px #111;
}
.weather-main {
	width: 20rem;
	height: 16rem;
	padding: 2rem 0;
	margin: 4rem auto;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.75);
	border-radius: 16px;
}
.weather-city {
	font-size: 2rem;
}
.weather-temp {
	font-size: 6rem;
	font-weight: bold;
}
.weather-description {
	font-size: 1.4rem;
	display: inline-block;
}
.weather-icon-holder {
	display: inline-block;
}
.weather-icon {
	vertical-align: middle;
}
.weather-pressure, .weather-humidity {
	font-size: 1.4rem;
}